<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Role</title>
</head>
<body>
<div ng-controller="RoleController">
    <button type="button" class="btn-xs btn-primary" translate="query" ng-click="queryClick()"></button>
    <button type="button" class="btn-xs btn-primary" translate="add" ng-click="addRoleClick()"></button>

    <table st-table="rowCollection" class="table table-striped table-condensed table-jt8">
        <thead>
        <tr>
            <th>{{'roleCode'|translate}}</th>
            <th>{{'roleName'|translate}}</th>
            <th>{{'roleManage'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
            <td>{{row.roleCode}}</td>
            <td>{{row.roleName}}</td>
            <td> <button type="button" class="btn-xs btn-primary" translate="delete" ng-click="removeRoleClick(row)" ></button>
                <button type="button" class="btn-xs btn-primary" translate="edit" ng-click="editRoleClick(row)" ></button>
                <button type="button" class="btn-xs btn-primary" translate="allocatePermission" ng-click="allocatePermissionClick(row)" ></button></td>
        </tr>
        </tbody>
    </table>
    <script type="text/ng-template" id="roleEdit.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <form name="editForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="roleCode" class="col-md-2 control-label" translate="roleCode"></label>

                    <div class="col-md-10">
                        <input id="roleCode" type="text" ng-model="editObj.roleCode" class="input-sm form-control" focus="true"
                               required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="roleName" class="col-md-2 control-label" translate="roleName"></label>

                    <div class="col-md-10">
                        <input id="roleName" type="text" ng-model="editObj.roleName" class="input-sm form-control"
                               required/>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()" translate="cancel"></button>
            <button class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="save()" translate="save"></button>
        </div>
    </script>

    <script type="text/ng-template" id="allocatePermission.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body" ng-init="init()">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-12">
                        <ul id="permissionTree" class="ztree"></ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()" translate="cancel"></button>
            <button class="btn btn-primary" ng-click="save()" translate="save"></button>
        </div>
    </script>

</div>

</body>
</html>