<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:sqlserver://122.116.99.96:1433;databaseName=jt8</property>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <mapping class="com.jelly.jt8.bo.model.TradeHouseRule"/>
      <mapping class="com.jelly.jt8.bo.model.TradeAccountGroup"/>
      <mapping resource="com/jelly/jt8/bo/model/TradeAccountGroup.hbm.xml"/>
    <mapping class="com.jelly.jt8.bo.model.SymbolHoliday"/>
    <mapping class="com.jelly.jt8.bo.model.SymbolHolidayException"/>
    <mapping class="com.jelly.jt8.bo.model.BoPermission"/>
    <mapping class="com.jelly.jt8.bo.model.BoPermissionName"/>
    <mapping class="com.jelly.jt8.bo.model.BoUser"/>
    <mapping class="com.jelly.jt8.bo.model.BoUserRole"/>
    <mapping class="com.jelly.jt8.bo.model.BoOrganization"/>
    <mapping class="com.jelly.jt8.bo.model.BoRole"/>
    <mapping class="com.jelly.jt8.bo.model.BoRolePermission"/>
    <mapping class="com.jelly.jt8.bo.model.SystemMainSymbol"/>
    <mapping class="com.jelly.jt8.bo.model.TradeGroup"/>
    <mapping class="com.jelly.jt8.bo.model.SystemCategory"/>
    <mapping class="com.jelly.jt8.bo.model.TradeHouseRuleGroup"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>