<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HouseRule</title>
</head>
<body>
<div ng-controller="TradeRuleController">
    <common-button translate="add" ng-click="addClick()"></common-button>
    <common-button translate="query" ng-click="queryClick()"></common-button>

    <table st-table="rowCollection" class="table table-striped table-condensed table-jt8">
        <thead>
        <tr>
            <th>{{'ruleName'|translate}}</th>
            <th>{{'category'|translate}}</th>
            <th>{{'openTime'|translate}}1</th>
            <th>{{'closeTime'|translate}}1</th>
            <th>{{'openTime'|translate}}2</th>
            <th>{{'closeTime'|translate}}2</th>
            <th>{{'tradeRuleManage'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
            <td>{{row.ruleName}}</td>
            <td>{{row.category}}</td>
            <td>{{row.openTime1|time}}</td>
            <td>{{row.closeTime1|time}}</td>
            <td>{{row.openTime2|time}}</td>
            <td>{{row.closeTime2|time}}</td>
            <td>
                <common-button translate="delete" ng-click="deleteClick(row)" ></common-button>
                <common-button translate="edit" ng-click="editClick(row)" ></common-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="houseRuleEdit.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-xg">
            <div class="modal-content">
                <div class="modal-header">
                    <modal-close></modal-close>
                    <h3 class="modal-title">{{modalTitle}}</h3>
                </div>
                <div class="modal-body" ng-init="init()">
                    <form name="editForm" class="form-horizontal" role="form">
                        <fieldset class="well well-xs the-fieldset">
                            <legend class="the-legend">base</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-xs">
                                        <label for="ruleName" class="col-md-5 control-label" translate="ruleName"></label>
                                        <div class="col-md-7 valueCol">
                                            <text-input id="ruleName" ng-model="editObj.ruleName" focus="true" required></text-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="systemCategory" class="col-md-5 control-label" translate="category"></label>
                                    <div class="col-md-7 valueCol">
                                        <select id="systemCategory" ng-model="editObj.systemCategory" ng-change="systemCategoryChange();"
                                                ng-options="systemCategory.category for systemCategory in systemCategoryList">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="useTradeGroup" class="col-md-5 control-label" translate="defaultTradeGroup"></label>
                                    <div class="col-md-7 valueCol">
                                        <button type="button" class="btn btn-default btn-sm" id="useTradeGroup" ng-model="editObj.groupId" ng-change="useTradeGroupChange();"
                                                data-html="1"
                                                bs-options="tradeGroup.groupId as tradeGroup.label for tradeGroup in editObj.tradeGroupList" bs-select>
                                            <span class="caret"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-xs">
                                        <label for="openTime1" class="col-md-5 control-label">{{'openTime'|translate}}1</label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="openTime1" ng-model="editObj.openTime1"></time-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-xs">
                                        <label for="closeTime1" class="col-md-5 control-label">{{'closeTime'|translate}}1</label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="closeTime1" ng-model="editObj.closeTime1"></time-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-xs">
                                        <label for="resetTime1" class="col-md-5 control-label">{{'resetTime'|translate}}1</label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="resetTime1" ng-model="editObj.resetTime1"></time-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-xs">
                                        <label for="openTime2" class="col-md-5 control-label">{{'openTime'|translate}}2</label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="openTime2" ng-model="editObj.openTime2"></time-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-xs">
                                        <label for="closeTime2" class="col-md-5 control-label">{{'closeTime'|translate}}2</label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="closeTime2" ng-model="editObj.closeTime2"></time-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-xs">
                                        <label for="resetTime2" class="col-md-5 control-label">{{'resetTime'|translate}}2</label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="resetTime2" ng-model="editObj.resetTime2"></time-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-xs">
                                        <label for="rolloverTime" class="col-md-5 control-label" translate="rolloverTime"></label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="rolloverTime" ng-model="editObj.rolloverTime"></time-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-xs">
                                        <label for="settlementTime" class="col-md-5 control-label" translate="settlementTime"></label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="settlementTime" ng-model="editObj.settlementTime"></time-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-xs">
                                        <label for="newOrderTime" class="col-md-5 control-label" translate="newOrderTime"></label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="newOrderTime" ng-model="editObj.newOrderTime"></time-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-xs">
                                        <label for="lastOrderTime" class="col-md-5 control-label" translate="lastOrderTime"></label>
                                        <div class="col-md-7 valueCol">
                                            <time-input id="lastOrderTime" ng-model="editObj.lastOrderTime"></time-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <modal-cancel-button></modal-cancel-button>
                    <modal-save-button></modal-save-button>
                </div>
            </div>
        </div>
    </div>
</script>

</body>
</html>