<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<div ng-controller="AccountController">
    <common-button translate="addIb" ng-click="addIbClick()"></common-button>
    <common-button translate="addMember" ng-click="addMemberClick()"></common-button>
    <table st-table="rowCollection" class="table table-striped table-condensed table-jt8">
        <thead>
        <tr>
            <th>{{'loginId'|translate}}</th>
            <th>{{'operate'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
            <td>{{row.loginId}}</td>
            <td>
                <common-button translate="addIb" ng-click="addIbClick(row)"></common-button>
                <common-button translate="addMember" ng-click="addMemberClick(row)"></common-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/ng-template" id="ibEdit.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <modal-close></modal-close>
                    <h3 class="modal-title">{{modalTitle}}</h3>
                </div>
                <div class="modal-body" ng-init="init()">
                    <form name="editForm" class="form-horizontal" role="form">
                        <fieldset class="well well-xs the-fieldset">
                            <legend class="the-legend">base</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-xs">
                                        <label for="loginId" class="col-md-5 control-label" translate="loginId"></label>
                                        <div class="col-md-7 valueCol">
                                            <text-input id="loginId" ng-model="editObj.loginId" focus="true" required></text-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="password" class="col-md-5 control-label" translate="userPassword"></label>
                                    <div class="col-md-7 valueCol">
                                        <input id="password" type="password" ng-model="editObj.password" class="input-sm form-control" required/>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="$hide()" translate="cancel"></button>
                    <button class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="save()" translate="save"></button>
                </div>
            </div>
        </div>
    </div>
</script>
</body>
</html>