<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
</head>
<body>

<div ng-controller="LoginController">
    <div class="modal-header">
        <h3 class="modal-title" translate="loginUser"></h3>
    </div>
    <div class="modal-body">
        <form name="editForm" class="form-horizontal" role="form">
            <div class="form-group form-group-xs">
                <div class="col-md-12">
                    <label for="loginId" class="col-md-2 control-label" translate="loginId"></label>
                    <div class="col-md-10 valueCol">
                        <text-input id="loginId" ng-model="loginUser.loginId" focus="true" required></text-input>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <div class="col-md-12">
                    <label for="password" class="col-md-2 control-label" translate="userPassword"></label>
                    <div class="col-md-10 valueCol">
                        <password-input ng-model="loginUser.password" required></password-input>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <select ng-model="selectedUser"
                ng-options="user.loginId for user in userList">
        </select>
        <common-button ng-disabled="selectedUser == undefined " ng-click="onFastLoginClick()" translate="快速登入(開發人員測試用)"></common-button>
        <common-button ng-disabled="editForm.$invalid" ng-click="login()" translate="login"></common-button>
    </div>
</div>
</body>
</html>